<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickVerbs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickVerbs.Properties.Settings>
            <setting name="ShowPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Period" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RightAnswers" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LessonVerbs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Pronoun" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLevelName" serializeAs="String">
                <value>Elementary</value>
            </setting>
        </QuickVerbs.Properties.Settings>
    </userSettings>
</configuration>